.LIKEY {
  color: wheat
}

#liked-detail-track {
  color: wheat
}

#liked-number-track-and-artist {
  color: wheat
}

#liked-detail-track-number {
  color: wheat
}

#liked-detail-track-and-artist {
  color: wheat
}

#liked-detail-track-name {
  color: wheat
}

#like-button-and-duration {
  color: wheat
}

#liked-detail-like-button {
  color: wheat
}