#leftNav {
    background-color: #121212;
    width: 400px;
    height: 816px;
    border-radius: 15px;
    margin-top: -10px;
}

#leftNavTitle {
    color: white;
    background: transparent;
    position: relative;
    left: 63px;
    top: 21px;
}
