#leftNav {
    background-color: #121212;
    width: 400px;
    height: 816px;
    border-radius: 15px;
    margin-top: -10px;
}

#leftNavTitle {
    color: white;
    background: transparent;
    position: relative;
    left: 63px;
    top: 21px;
}

#createPlaylistComp {
    background-color: #1E1E1E;
    color: white;
    margin-top: 79px;
    margin-left: 14px;
    width: 330px;
    height: 137px;
    border-radius: 15px;
    padding: 20px;
}

#createPlaylistComp p {
    background: transparent;
}

#createPlaylistComp * {
    margin-left: 36px;
}

#createPlaylistButton {
    width: 123px;
    height: 38px;
    border-radius: 30px;
    background-color: white;
    border: none;
    font-size: 16px;
}
#createPlaylistButton:hover {
    background-color: #c7c7c7;
    cursor: pointer;
    transition: 100ms;
}
