.playlist-details-page {
    display: flex;
    flex-direction: row;
}

.playlist-detail-info-section {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
}

.playlist-detail-image {
    height: 155px;
    width: 155px;
    margin: 15px;
    border: none;
    border-radius: 10px;
}

.playlist-detail-playlist-tag-name-and-info {
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: space-between;
}

.album-detail-album-type-and-name{
    background-color: transparent;
}

.user-profile-pic {
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 12px;
    margin: 10px;
}

.album-detail-artist-release-date-length {
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: light;
    background-color: transparent;
    margin-bottom: 11px;
    align-items: center;
}

.album-detail-artist-name {
    font-weight: bolder;
    font-size: larger;
    background-color: transparent;
}

.album-detail-lighter-larger {
    font-weight: lighter;
    font-size: larger;
    background-color: transparent;
}

.playlist-detail-album-name {
    font-size: xx-large;
    font-weight: bolder;
    background-color: transparent;
    margin-bottom: 7px;
    color: white;
}

.album-detail-album-type {
    font-weight: lighter;
    background-color: transparent;
}

.album-detail-tracks-list{
    color: white;
    background-color: transparent;
}

.album-detail-track{
    background-color: transparent;
    height: 54px;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.album-detail-track:hover {
    cursor: pointer;
    background-color: #1E1E1E;
}

.album-number-track-and-artist {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}

.album-detail-track-number{
    background-color: transparent;
    color: rgb(133, 133, 133);
    font-size: xx-large;
    margin-left: 15px;
}

.playlist-detail-track-name {
    background-color: transparent;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.album-detail-track-artist {
    background-color: transparent;
    color: rgb(133, 133, 133);
    font-size: smaller;
    font-weight: lighter;
}

.album-detail-track-and-artist {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.like-button-and-duration {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    background-color: transparent;
}

.album-detail-track-duration {
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
}

.album-detail-like-button {
    color: white;
    margin-right: 20px;
    background-color: transparent;
}

.spacer-10px {
    width: 10px;
    background-color: transparent;
}

.dot {
    background-color: transparent;
}

.playlist-track-images{
    height: 35px;
    width: 35px;
    margin-left: 15px;
    border-radius: 5px;
}
/*
#deleteButton {

} */

.edit-playlist-button {
    color: white;
    background-color: #1E1E1E;
}
