#topLeftNav {
    background-color: #121212;
    width: 400px;
    height: 222px;
    border-radius: 15px;
}

#homeButton{
    position: absolute;
    left: 129px;
    top: 124px;
    color: white;
    background: none;
    border: none;
    font-size: 22px;
}

#creditsButton{
    position: absolute;
    left: 129px;
    top: 155px;
    color: white;
    background: none;
    border: none;
    font-size: 22px;
}

#creditsButton:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 100ms;
    color: #c7c7c7;
}

#homeButton:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 100ms;
    color: #c7c7c7;
}

#createAlbumButton {
    position: absolute;
    left: 129px;
    top: 151px;
    color: white;
    background: none;
    border: none;
    font-size: 22px;
}

#createAlbumButton:hover {
    color: #c7c7c7;
    text-decoration: underline;
    cursor: pointer;
}

#spotifyLogo {
    position: absolute;
    left: 55px;
    top: 30px;
    background-color: transparent;
    width: 231px;
    margin-bottom: 20px;
}

#spotifyLogo:hover {
    cursor: pointer;
}
