.TrackFormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TrackFormCard {
  margin-top: 10%;
  width: 50%;
  /*height: 50vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#TrackFormTitle {
  color: wheat;
  width: 300px;
  font-size: 48px;
}

#TrackForm {
  display: flex;
  color: wheat;
  flex-direction: column;
}

#trackName {
  position: relative;
  margin-top: 7px;
  margin-bottom: 15px;
  height: 24px;
  border-color: #ADADAD;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  background-color: #181818;
}

#duration {
  position: relative;
  margin-top: 7px;
  margin-bottom: 15px;
  height: 24px;
  border-color: #ADADAD;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  background-color: #181818;
}

#trackFile {
  position: relative;
  margin-top: 7px;
  margin-bottom: 15px;
  height: 24px;
  color: wheat;
}

/* #name {
  position: relative;
  margin-top: -13px;
  margin-bottom: 15px;
  height: 38px;
  border-color: #ADADAD;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  background-color: #181818;
}

#releaseDate {
  margin-top: -13px;
  margin-bottom: 15px;
  height: 38px;
  border-color: #ADADAD;
  border-style: solid;
  border-width: 1px;

  background-color: #181818;
} */

#trackSubmit {
  color: black;
  background-color: #15BE3A;
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 46px;
  font-size: 18px;
  margin-left: 53px;
  margin-top: 10px;
}

#trackSubmit:hover {
  cursor: pointer;
  transition: 100ms;
  background-color: #119b2f;
}