* {
    background-color: black;
}


.homePage {
    display: flex;
    flex-direction: row;
}

.top-nav-with-albums{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: 15px;
    margin-top: 14px;
    /* background: linear-gradient(#e66465 25%, #2F2F2F); */
    background: linear-gradient(0deg, black 80%, #2F2F2F);
    border-radius: 15px;
    padding: 15px;
}
