#loginButton {
    margin-left: 52px;
    background-color: #15BE3A;
    border-radius: 30px;
    border: none;
    color: black;
    width: 137px;
    height: 46px;
    font-size: 22px;
}

#loginButton:hover {
    background-color: #129f31;
    cursor: pointer;
    transition: 100ms;
}

#signupButton {
    font-size: 22px;
    border: none;
    color: white;
    background-color: transparent;
}

#signupButton:hover {
    color: #c7c7c7;
    text-decoration: underline;
    cursor: pointer;
    transition: 100ms;
}

#logoutButton {
    margin-left: 52px;
    background-color: #121212;
    border-radius: 30px;
    border: none;
    color: white;
    width: 137px;
    height: 46px;
    font-size: 22px;
}

#logoutButton:hover {
    background-color: #0c0c0c;
    cursor: pointer;
    transition: 100ms;
}

#welcomeMessage {
    font-size: 22px;
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 15px;
    margin-left: 15px;
}

#topNavLoggedIn {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
}

#topNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
}

#manageAlbums {
    color: white;
    background: none;
    border: none;
    font-size: 22px;
}

#manageAlbums:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 100ms;
    color: #c7c7c7;
}
