.editPlaylistFormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editPlaylistFormCard {
  margin-top: 10%;
  width: 50%;
  /*height: 50vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editPlaylistFormTitle {
  color: wheat;
  width: 300px;
  font-size: 48px;
}

#editPlaylistForm {
  display: flex;
  color: wheat;
  flex-direction: column;
}