.playlistFormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-form-element {
  margin: 5px;
}

.playlistFormCard {
  margin-top: 10%;
  width: 50%;
  /*height: 50vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playlistFormTitle {
  color: wheat;
  width: 300px;
  font-size: 48px;
}

#playlistForm {
  display: flex;
  color: wheat;
  flex-direction: column;
}

#isPrivate {
  color: wheat;
}

#playlistSubmit {
  color: black;
  background-color: #15BE3A;
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 46px;
  font-size: 18px;
}

.playlist-form-name {
  position: relative;
  margin-top: 7px;
  margin-bottom: 15px;
  height: 24px;
  border-color: #ADADAD;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  background-color: #181818;
}
